/*
Stylesheet
(c) Maximilian Rudolph 2022
*/

/*
Variables
*/
// Colors
$c-primary: #5B63C6;
$c-primary-dark: #252850;
$c-secondary: #D21753;
$c-secondary-light: #FA85A1;
$c-light: #fff;
$c-grey: #5d5e66;
$c-copy: #131425;

.c-primary-dark { color: $c-primary-dark; }
.c-primary { color: $c-primary; }
.c-secondary { color: $c-secondary; }
.c-secondary-light { color: $c-secondary-light; }
.c-light { color: $c-light; }
.c-copy { color: $c-copy; }

// Spacing
$m-lg: 5.33rem;
$m-md: 4rem;
$m-sm: 2.66rem;
$m-xs: 1.33rem;
$m-xxs: 0.66rem;

// Widths
$whero: 1200px;
$w1: 1090px;
$w2: 900px;
$w3: 600px;
$w4: 450px;

// Breakpoints
@mixin sm { @media (max-width: #{$w4}) { @content; } }
$bp-md: 768px;
@mixin md { @media (max-width: #{$bp-md}) { @content; } }
@mixin md-min { @media (min-width: #{$bp-md}) { @content; } }
$bp-lg: 992px;
@mixin lg { @media (max-width: #{$bp-lg}) { @content; } }
$bp-xl: 1200px;
@mixin xl { @media (max-width: #{$bp-xl}) { @content; } }


/*
Misc.
*/

@mixin scrollbar( $foreground-color: $c-primary-dark, $background-color: transparent ) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: 6px; height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}

@mixin transition( $t, $easing: linear, $property: all) {
  transition: $property $t $easing;
  -webkit-transition: $property $t $easing;
  -moz-transition: $property $t $easing;
  -o-transition: $property $t $easing;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}


/*
General
*/
html {
  font-family: 'Basier Circle', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $c-copy;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-dark { 
  background-color: $c-primary-dark;
  color: $c-light;
}
.bg-light {
  background-color: $c-light;
  color: $c-copy;
}

.hide { display: none; }

/*
Containers / Spacers
*/
.m-lg-t { padding-top: $m-lg; }
.m-lg-b { padding-bottom: $m-lg; }
.m-md-t { padding-top: $m-md; }
.m-md-b { padding-bottom: $m-md; }
.m-sm-t { padding-top: $m-sm; }
.m-sm-b { padding-bottom: $m-sm; }
.m-xs-t { padding-top: $m-xs; }
.m-xs-b { padding-bottom: $m-xs; }
.m-xxs-t { padding-top: $m-xxs; }
.m-xxs-b { padding-bottom: $m-xxs; }

.whero, .w1, .w2, .w3, .w4 {
  max-width: 100%;
  margin: 0 auto;
}
.whero { width: $whero; }
.w1 { width: $w1; }
.w2 { width: $w2; }
.w3 { width: $w3; }
.w4 { width: $w4; }

.gutter-xs {
  @include lg {
    padding-right: $m-xs;
    padding-left: $m-xs;
  }
}

.content {
  max-width: 100vw;
  overflow-y: hidden;
}

.stage {
  min-height: 100vh;
  max-height: 100vh;
  &.cutoff {
    min-height: 80vh;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .stage-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    .jump-stage {
      width: 44px; height: 44px;
      margin-top: $m-sm;
      align-self: center;
      
      background-color: $c-primary;
      background-image: url('../assets/arrow-long-down.svg');
      background-repeat: no-repeat;
      background-position: center 9px;
      border-radius: 100px;
      
      &:hover {
        background-position: center 14px;
      }
      @include transition(0.2s, ease-out);
    }
  }

  @include md {
    max-height: initial;
  }
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*
Flex
*/
.flex {
  display: flex;
  &.hor {
    flex-direction: row;
    &.reverse { flex-direction: row-reverse; }
  }
  &.vert {
    flex-direction: column;
    &.reverse { flex-direction: column-reverse; }
  }
  &.center-a, &.center-center {
    align-items: center;
    align-content: center;
  }
  &.center-b, &.center-center {
    justify-content: center;
  }
  &.gap-xxs { gap: $m-xxs; }
  &.gap-xs { gap: $m-xs; }
  &.gap-sm { gap: $m-sm; }
  &.gap-md { gap: $m-md; }
  &.gap-lg { gap: $m-lg; }
}


/*
Typography
*/
:root {
  --type-mult: 1.125;
  @include md { --type-mult: 1; }
  @include sm { --type-mult: 0.7; }
}

p, .copy {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: $m-xxs;
  &.mono, &.small {
    font-family: 'Basier Circle Mono', monospace;
  }
  &.small {
    font-size: 0.8rem;
  }
}
a {
  color: $c-primary-dark;
  border-bottom: 0.1em solid $c-primary-dark;
  text-decoration: none;
  transition: 0.25s ease-out;
}
a:hover {
  color: $c-primary;
  border-bottom: 0.1em solid $c-primary;
}

.hero, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1em;
  overflow-wrap: anywhere;
  a {
    color: inherit;
    border-bottom-color: $c-copy;
  }
}
.hero, .h1, .h2, .h3 {
  text-transform: lowercase;
}
.hero {
  font-size: calc(pow(var(--type-mult), 6));
  font-weight: 700;
  &.small {
    font-weight: 400;
  }
  // switching to h1-size
  @include sm { font-size: calc(5rem * var(--type-mult)); }
}
h1, .h1 {
  font-size: calc(5rem * var(--type-mult));
  font-weight: 500;
  // switch to h2-size
  @include sm { font-size: calc(4rem * var(--type-mult)); }
}
h2, .h2 {
  font-size: calc(4rem * var(--type-mult));
  font-weight: 700;
}
h3, .h3 {
  font-size: calc(3rem * var(--type-mult));
  font-weight: 500;
}
h4, .h4 {
  font-size: calc(2rem * var(--type-mult));
  font-weight: 700;
  &.small {
    font-weight: 400;
  }
}
h5, .h5 {
  font-size: max(1rem, calc(1rem * var(--type-mult)));
  font-weight: 500;
  &.small {
    font-weight: 400;
  }
}
.subtitle {
  @extend .h5;
  font-weight: 400;
}

b, .bold, .big  { font-weight: 700; }
em, i { font-style: italic; }
.regular { font-weight: 400; }

.ds {
  text-shadow: 0px 17px 40px rgba(0 0 0);
}

/*
Components
*/
// Lists
ul, ol {
  list-style-position: inside;
  li {
    ul, ol {
      margin-left: 1.5em;
    }
  }
}
ul {
  list-style-type: disc;
  ul {
    list-style-type: circle;
    ul { list-style-type: revert; }
  }
}
ol {
  list-style-type: decimal;
  ol {
    list-style-type: lower-alpha;
    ol { list-style-type: upper-roman; }
  }
}

// Buttons / Forms
button, .button, .btn {
  border: none;
  text-decoration: none !important;
  @include transition(0.4s, ease-out);

  &.slim {
    @extend .copy, .small;
    height: max-content; // for buttons inside flex-containers
    width: max-content;
    padding: 1.5*$m-xxs $m-xs;
    line-height: 1em;

    color: $c-light;
    background-color: $c-primary-dark;
    border-radius: 1000px;
    &:hover {
      background-color: $c-primary;
    }
    
    &.light {
      background-color: $c-light;
      color: $c-primary-dark;
      border: 1px solid $c-primary-dark;
      &:hover {
        color: $c-primary;
        border-color: $c-primary;
      }
    }
  }

  &.color {
    @extend .h5;
    // font-size: calc(1rem * var(--type-mult));
    padding: $m-xs $m-sm;
    background-color: $c-light;
    border-radius: 1000px;
    &.primary {
      color: $c-primary;
      @include box-shadow(0px, 0px, 38px, 5px, rgba($c-primary,0.05));
      &:hover {
        @include box-shadow(0px, 8px, 38px, 5px, rgba($c-primary,0.3));
      }
    }
    &.secondary {
      color: $c-secondary;
      @include box-shadow(0px, 0px, 38px, 5px, rgba($c-secondary,0.03));
      &:hover {
        @include box-shadow(0px, 8px, 38px, 5px, rgba($c-secondary,0.08));
      }
    }
  }

  &.arrow-down {
    width: 33px; height: 37px;
    background-color: transparent;
    background-image: url('assets/symbols/arrow-down.svg');
    background-position: top center;
    background-repeat: no-repeat;
    border: none;
    &:hover {
      background-position: bottom center;
    }
  }
}

// Tables
table {
  margin-top: $m-sm;
  margin-bottom: $m-sm;

  background-color: $c-light;
  border-collapse: collapse;

  tbody {
    padding: $m-xs;

    tr {
      td {
        padding: calc($m-xs / 2);
        border: 2px solid #fff;
      }
      th {
        padding: $m-xs calc($m-xs / 2);
        @extend .h3;
        line-height: 1em;
      }
    }
  }
}
