<div class="social-buttons m-xs-b">
  <a class="social" id="mail" href="mailto:business@rudolphmax.com" target="_blank" aria-label="write me an email"></a>
  <a class="social" id="github" href="https://github.com/blumelume" target="_blank" aria-label="link to my github account"></a>
  <a class="social" id="linkedin" href="https://www.linkedin.com/in/rudolphmax/" target="_blank" aria-label="link to my linkedin profile"></a>
</div>