<div class="feed-item">
{% block feed_item %}
  
  <h2><a href="{{ page.url|e }}">{{ page.title }}</a></h2>
  
  {% include 'partials/feed_title_image.html.twig' with { 'page' : page } %}

  {% set teaser_text = page.header.teaser|defined( page.header.description|defined(false) ) %}
  {% if teaser_text %}
    <div class="teaser"> {{ teaser_text|e }} </div>
  {% endif %}

  <a class="btn slim more" role="button" aria-label="read article">read more</a>

{% endblock %}
</div>