@use "../abstracts" as *;
@use "../base" as *;

.article {
  @extend .w2;
  margin-top: calc(2*$lg);
  margin-bottom: $lg;

  .article-head {
    > .info-meta {
      @extend .w3;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: $sm;
    }

    > h1 {
      line-height: 1em;
      text-align: center;
      @include sm {
        text-align: left;
      }
    }

    > figure {
      gap: $xs;
      margin-top: $md;
      margin-bottom: $md;

      > img { width: 100%; }

      > figcaption {
        @extend .subtitle;
        color: $grey;
        margin-top: $xs;
        text-align: center;
      }
    }
  }

  .article-text {
    @extend .w3;

    img { max-width: 100%; }
    
    h2,
    .h2 {
      margin-top: $md;
      margin-bottom: $sm;
    }

    h3,
    .h3 {
      margin-top: calc(1.5 * $xs);
      margin-bottom: $xs;
    }

    h4,
    .h4 { margin-bottom: calc($xs/2); }

    iframe.youtube,
    iframe.yt {
      width: 100%;
      height: auto;
      aspect-ratio: calc(3/2);
      margin-top: $xs;
      margin-bottom: $xs;
    }
  }

  @include md {
    padding: calc($xs);
  }
}
