@use '../abstracts' as *;
@use '../base' as *;

footer {
  @extend .w2; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  margin-top: $md;
  margin-bottom: $sm;
  padding: 0 $xs;

  * { @extend .small; }
  
  @include sm {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }
}