@use "../abstracts" as a;

$type-mult: 1.414;

html {
  font-family: "Basier Circle", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: a.$copy;

  @include a.md { font-size: 14px; }

  @include a.sm { font-size: 12px; }
}

p,
.copy {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: a.$xxs;

  &.mono,
  &.small {
    font-family: "Basier Circle Mono", monospace;
    font-size: 0.8rem;
  }
  &.big { font-size: 1.2rem; }

  @include a.md { font-size: 1.15rem; }

  @include a.sm { font-size: 1.35rem; }
}

a {
  color: a.$primary-dark;
  border-bottom: 0.1em solid a.$primary-dark;
  text-decoration: none;
  transition: 0.25s ease-out;
}

%lowercase { text-transform: lowercase; }

%heading {
  line-height: 1em;
  overflow-wrap: anywhere;
  &.small { font-weight: 400; }

  a {
    color: inherit;
    border-bottom-color: a.$copy;
  }
}

.text,
.article {
  %heading {
    margin-top: max(a.$xs, 0.15em);
    margin-bottom: max(a.$xxs, 0.05em);
  }
}

.hero,
%hero {
  @extend %heading, %lowercase;

  font-size: calc( a.pow($type-mult, 6) * 1rem);
  font-weight: 700;
}

h1,
.h1,
%h1 {
  @extend %heading, %lowercase;

  font-size: calc( a.pow($type-mult, 5) * 1rem);
  font-weight: 500;
}

h2,
.h2,
%h2 {
  @extend %heading;

  font-size: calc( a.pow($type-mult, 4) * 1rem);
  font-weight: 400;
}

h3,
.h3,
%h3 {
  @extend %heading, %lowercase;

  font-size: calc( a.pow($type-mult, 3) * 1rem);
  font-weight: 700;
}

h4,
.h4,
%h4 {
  @extend %heading;

  font-size: calc( a.pow($type-mult, 2) * 1rem);
  font-weight: 500;
}

h5,
.h5,
%h5 {
  @extend %heading;

  font-size: calc( a.pow($type-mult, 1) * 1rem);
  font-weight: 700;
}

h6,
.h6,
%h6 {
  @extend %heading;

  font-size: 1rem;
  font-weight: 500;
}

.subtitle,
.subtitle * {
  @extend %h5;

  line-height: 1.6em;
  font-weight: 400;
}

a:hover {
  color: a.$primary;
  border-bottom: 0.1em solid a.$primary;
}

b,
.bold { font-weight: 700; }

.light { font-weight: 300; }

em,
i { font-style: italic; }

.regular { font-weight: 400; }
.ds { text-shadow: 0 17px 40px rgba(0 0 0 / 100%); }

ul {
  list-style-type: disc;
  
  > ul {
    list-style-type: circle;
    > ul { list-style-type: revert; }
  }
}

ol {
  list-style-type: decimal;
  
  > ol {
    list-style-type: lower-alpha;
    > ol { list-style-type: upper-roman; }
  }
}

ul,
ol {
  list-style-position: outside;
  padding-left: 1em;

  li {
    margin: max(a.$xs, 0.15em) 0;

    ul,
    ol {
      margin-left: 1.5em;
    }
  }
}
