{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="stage"> <div class="stage-content w4">
    <h1 class="hero c-primary">
        {{ page.header.http_response_code|raw }}
    </h1>
    <div class="space-xs"></div>
    <p class="h3 c-primary-dark">
        {{ page.content|raw }}
    </p>
    <a aria-label="back to home" href="/">zurück</a>
</div> </div>
{% endblock %}
