{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="stage"> <div class="stage-content w4">
    <h1 class="hero c-primary space-xs">
        {{ page.header.http_response_code|raw }}
    </h1>

    <p class="h3 light c-primary-dark space-xs">
        {{ page.content|raw }}
    </p>

    <a class="btn slim" aria-label="back to home" href="/">zurück</a>
</div> </div>
{% endblock %}
