{% extends 'partials/base.html.twig' %}

{% block content %}
  
  <h1>{{ page.title }}</h1>

  {% include 'partials/feed_title_image.html.twig' with { 'page' : page } %}

  <div class="article">
  {% block article %}
    {{ page.content|raw }}
  {% endblock %}
  </div>

{% endblock %}