{% extends 'partials/base.html.twig' %}

{% set title_image = page.header.image|defined(true) %}
{% set title_image_file = page.url(true)|e ~ '/' ~ page.header.image_file %}

{% block content %}
  
  <h1>{{ page.title }}</h1>

  {% if title_image %}
      {% if title_image_file %}
        {% set title_image_media = page.media.images[title_image_file] %}
      {% else %}
        {% set title_image_media = page.media.images|first %}
      {% endif %}
      <img src="{{ title_image_file }}">
  {% endif %}

  <div class="article">
  {% block article %}
    {{ page.content|raw }}
  {% endblock %}
  </div>

{% endblock %}