@use '../abstracts' as *;
@use '../base' as *;

html {
  font-family: 'Basier Circle', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $copy;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}