@use "../abstracts" as *;
@use "../base" as *;

/*
html {

}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  &[template="default"] {
    > .content {
      padding-top: calc(2.5 * $lg);
      padding-bottom: $md;

      @include md {
        padding-top: $lg;
        padding-bottom: 0;
      }
      
      @include sm { padding-top: $md; }
    }
  }

}
