@use "../abstracts" as *;
@use "../base" as *;

body[template="feed"][name="projekte"] {
  > .content {

    .feed {
      @extend .w1; 
      padding-top: $lg;
      padding-left: calc(1.5*$xs);
      padding-right: calc(1.5*$xs);
      gap: calc(1.5*$lg);

      @include lg { gap: $lg; }
      @include md {
        width: $w4;
        padding-top: 0;
        gap: $md;
      }

      .feed-item {
        display: grid;
        column-gap: calc(1.5*$sm);
        grid-template-columns: 1fr 0.45fr;
        grid-template-rows: minmax($xs, 1fr) repeat(5, auto) minmax($xs, 1fr);
        @include lg { grid-template-columns: 1fr 0.75fr; }

        &:before {
          opacity: 0;
          content: "";
          display: block;
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100vw;
          height: 100vh;
          background-color: $primary-dark;
          z-index: -1;
          pointer-events: none;
          @include transition(0.8s, ease-out);
        }

        &:hover {
          z-index: 2;
          
          &:before { opacity: 0.035; }
        }

        > .image-wrapper {
          grid-row-start: 1;
          grid-row-end: span 7;
          overflow: hidden;
          border-radius: 10px;
          @include box-shadow(0px, 35px, 60px, 0px, rgba($primary, 0.05));
          @include transition(0.8s, ease-out);

          &:hover {
            @include box-shadow(0px, 35px, 60px, 0px, rgba($primary, 0.11));
          }
          figure {
            aspect-ratio: calc(4/3);
            overflow-y: scroll;
            @include scrollbar(rgba($primary-dark, 0.7));

            img {
              height: max-content;
              object-fit: cover;
            }
          }
        }

        > .info { grid-row-start: 2; }
        > h2 { grid-row-start: 3; }
        > .subtitle {
          @extend .h4, .small;
          grid-row-start: 4;
        }
        > .teaser {
          @extend .subtitle;
          grid-row-start: 5;
        }

        > .more {
          grid-row-start: 6;
          justify-self: end;
          width: 40px;
          height: 40px;
          padding: 0;
          background-color: $secondary;
          @include background-image(url("../assets/arrow-long-down.svg"), center, 50%);
          transform: rotate(-90deg);
          border: none; 
          @include box-shadow(-3px, 0px, 45px, 0px, rgba($secondary, 0.2));
          @include transition(0.4s, ease-in-out);

          &:hover {
            // background-position: center 13px;
            transform: scale(1.15) rotate(-90deg);
            @include box-shadow(-10px, 0px, 60px, 0px, rgba($secondary, 0.35));
          }
          span { display: none; }
        }

        &:nth-child(2n+2) {
          direction: rtl;

          * { direction: ltr; }
          > .more { justify-self: start; }
        }

        @include md {
          grid-template-columns: 1fr;
          grid-template-rows: auto;

          > * {
            grid-row-start: auto !important;
            grid-row-end: auto !important;
          }
        }
      }
    }
  }
}
