@font-face {
  font-family: "Basier Circle";
  src: url("../fonts/Basier Circle/basiercircle-regular-webfont.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Basier Circle";
  src: url("../fonts/Basier Circle/basiercircle-medium-webfont.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Basier Circle";
  src: url("../fonts/Basier Circle/basiercircle-bold-webfont.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Basier Circle Mono";
  src: url("../fonts/Basier Circle/basiercirclemono-regular-webfont.ttf");
  font-weight: 400;
  font-style: normal;
}
